* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #templateNavTop{
    padding-block: .5em;
  }
  #displayDate h1{
    font-size: 1em;
    font-weight: normal;
    font-family: arial;
    margin-bottom: 0 !important;
    color: azure;
  }
  #displayTime h1{
    font-size: 1em;
    font-weight: normal;
    font-family: arial;
    margin-bottom: 0 !important;
    color: azure;
  }
  .pagination li a{
    background: #212529;
    color: white;
  }
  .pagination li a:hover{
   background: #198754;
    color: white;
  }